.main {
  margin-left: 400px;
  margin-top: 100px;
  width: 800px;

  h1{
    padding: 10px;
    font-size: 50px;
  }

  input{
    margin-left: 70px;
    height: 30px;
    border-radius: 5px;
    border: 1px grey solid;
    width: 600px;
    float: left;
    padding-left: 20px;
  }

  button{
    background-color: #346beb;
    color: white;
    margin-left: 20px;
    height: 34px;
    border:0px;
    border-radius: 5px;
    width: 70px;
    font-size: 15px;
    cursor: pointer;
  }
   input::placeholder{
     font-size: 15px;
     font-family: Arial;
   }
}


